.home {
  text-align: center;
  font-size: 16rem !important;
  div{
    &:first-child {
      text-align: right;
    }
    &:last-child{
      text-align: left;
    }

  }
}

// Color Variables
$primary : #FF00FF;
$secondary : #1F004F;
$over : #1F9067;

// Use the color variables
h1{
  color: $primary;
}
p{
  color: $secondary;
}
